
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  color: black;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: -2px;
}

p {
  font-size: 1.1rem;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}


body {
  display: grid;
  justify-content: center;
  align-items: start;
  background-color: #373737;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 5px solid black;
  border-radius: 16px;
  overflow: hidden;
  width: 70vw;
  max-width: 1200px;
  margin-block: 3rem;
}

@media(max-width: 1030px) {
  .container {
      width: 90vw;
      margin-block: 2rem;
  }

  @media(max-width: 500px) {
    .container {
        width: 96vw;
        margin-block: 0.5rem;
    }
}
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  background-color: antiquewhite;
  color: #222;
  padding: 3rem;
  padding-top: calc(3rem + 20px);
  gap: 1rem;
}

header {
  padding: 3rem;
  padding-bottom: 0;
  background-image: url(./img/header-image.jpeg);
  background-repeat: none;
  background-position: bottom;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  border: 2px dashed black;
  border-bottom: none;
}

.title-nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  text-shadow: 2px 2px 12010220122 0px black;
}



  /*  Página de Search */
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    transform: translateY(50%);
  }

  .search {
    width: 60%;
    height: 40px;
    border: 1px grey solid;
    border-radius: 6px 0 0 6px;
    padding: 1rem;
    font-size: 1rem;
  }

  .btn {
    padding: 0 3rem;
    font-size: 1rem;
    border: 1px grey solid;
    border-left: none;
    border-radius: 0 6px 6px 0;
    background-color: bisque;
  }

  @media(max-width: 500px) {
    .search-form {
      margin-top: 0.5rem;
    }
    .btn {
      padding: 0 1.2rem;
    }
    .search {
      width: 100%;
    }
    .container {
      min-height: 100%;
    }
    h1 {
      font-size: 2rem;
    }
    .title-nav {
      flex-direction: column;
    }
    }

  hr {
    margin-block: 2rem;
  }
  .search-card-poster > img {
    width: 100%;
    aspect-ratio: 2 / 3;
  }
  
  .search-card-btn {
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 6px;
    margin-block: 1rem;
  }
  
  .search-card-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
  }
  
  .search-card-meta > h2 {
    font-size: 1.3rem;
    letter-spacing: -1;
  }

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 50vw;
    border: none;
  }

  .modal::backdrop {
    position: fixed;
    inset: 0;
    background: #0008;
    backdrop-filter: blur(2px);
  }
  
  .close-modal-btn {
    align-self: start;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 6px;
  }
  
  
  .card {
    display: grid;
    grid-template-columns: 150px 1fr 80px;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  
  .card-poster > img {
    width: 150px;
    aspect-ratio: 2 / 3;
  }
  .card-meta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .card-title {
    display: flex;
    align-items: center;
    gap: 0.1rem 1.5rem;
    flex-wrap: wrap;
  }
  
  .card-details {
    display: flex;
    align-items: baseline;
    gap: 0.5rem 2rem;
    flex-wrap: wrap;
  }
  
  .card-synopsis > p {
    font-size: 1.2rem;
  }
  
  @media(max-width: 500px) {
    .modal {
      width: 100%;
    }
    .card {
    grid-template-columns: 1fr;
    gap: 1rem;
    }
    .card-poster > img {
      width: 120px;
    }
    .close-modal-btn {
      justify-self: start;
    }
    h2 {
      font-size: 1.5rem;
    }
    .card p {
      font-size: 1rem ;
    }
  }
  .card-btn {
    border: none;
    font-size: inherit;
    background-color: inherit;
  }

  .card-btn > span {
    width: 20px;
    background-color: green;
    height: 20px;
    display: inline-block;
    color: aliceblue;
    border-radius: 50%;
    padding: 1px;
  }

  .card-btn:hover {
    color: red;
  }

  /* Whatchlist page */

  .watchlist-container {
    background-color: antiquewhite;
    color: #222;
    padding: 3rem 5rem;
  }

  .card-watchlist-page {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 3rem;
  }

  .watchlist-header {
    padding-bottom: 4rem;
  }

  .card-btn > .red {
    background-color: red;
  }
  
  @media(max-width: 500px) {
    .card-watchlist-page {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .watchlist-container {
      padding: 2rem;
    }
  }

